node_modules
credentials.json
.replit
.env
.breakpoints
private/actionlog.txt
public/playsounds/generated/*.ogg
public/playsounds/generated/*.mp3
public/playsounds/uploads/*.ogg
public/playsounds/uploads/*.mp3